---
import { languages } from "@/shared/i18n";
import { cn } from "@/shared/lib/cn";
import { getLangFromUrl } from "@/shared/i18n";

import styles from "./styles.module.css";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const classList = cn(styles.root, className);
const activeLang = getLangFromUrl(Astro.url);
---

<ul class={classList}>
  {
    Object.entries(languages).map(([lang], index) => (
      <>
        {index > 0 ? "/" : null}
        <li>
          <a
            class={cn(styles.link, activeLang === lang && styles.link_active)}
            href={`/${lang}/`}
          >
            {lang.toLocaleUpperCase()}
          </a>
        </li>
      </>
    ))
  }
</ul>
